<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/global.css">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/posting.css">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/markdown.css">
</head>
<body>
  <img
    class="logo"
    src="/.static/logo.png"
    title="Logo by Doke">
  <a href="/account.js">Account</a>
  <br>
  E-mail:
  <span id="emailLabel"></span>
  <br>
  Last seen:
  <span id="lastSeenLabel"></span>
  <br>
  Global role:
  <span id="globalRoleLabel"></span>
  <br>
  <h3>Owned boards</h3>
  <div id="ownedBoardsDiv"></div>
  <h3>Volunteered boards</h3>
  <div id="volunteeredBoardsDiv"></div>

</body>
<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>

</html>