<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
  rel="stylesheet"
  type="text/css"
  href="http://static.localhost:8080/global.css">
</head>
<body>
  <img
    class="logo"
    src="http://static.localhost:8080/logo.png"
    title="Logo by Doke"> Logged in as
  <span id="labelLogin"></span>
  <form action="/logout.js">
    <input
      type="button"
      id="logoutJsButton"
      onClick="logout()"
      style="display: none"
      value="Logout">
    <input
      id="logoutFormButton"
      type="submit"
      value="Logout">
  </form>

  <a
    id="globalManagementLink"
    href="/globalManagement.js">Global management</a>

  <br>

  <h3>Settings</h3>
  <form
    action="/changeAccountSettings.js"
    method="post"
    enctype="multipart/form-data">
    E-mail:
    <input
      type="text"
      name="email"
      id="emailField">
    <br>
    <input
      type="checkbox"
      id="checkboxAlwaysSign"
      name="alwaysSignRole">
    Always use role signature
    <br>
    <input
      type="submit"
      value="Save"
      id="saveFormButton">

    <input
      type="button"
      onClick="save()"
      style="display: none;"
      value="Save"
      id="saveJsButton">
  </form>

  <h3>Password change</h3>
  <form
    action="/changeAccountPassword.js"
    method="post"
    enctype="multipart/form-data">
    Current password:
    <input
      type="password"
      id="fieldPassword"
      name="password">
    <br>
    New password:
    <input
      type="password"
      id="fieldNewPassword"
      name="newPassword">
    <br>
    Confirm new password:
    <input
      type="password"
      id="fieldConfirmation"
      name="confirmation">
    <br>

    <input
      type="submit"
      value="Change password"
      id="passwordFormButton">

    <input
      type="button"
      onClick="changePassword()"
      style="display: none;"
      value="Change password"
      id="passwordJsButton">
  </form>

  <div id="boardCreationDiv">
    <h3>Create board</h3>
    <form
      action="
    /createBoard.js"
      enctype="multipart/form-data"
      method="post">
      Board URI:
      <input
        type="text"
        name="boardUri"
        id="newBoardFieldUri">
      <br>
      Board name:
      <input
        type="text"
        id="newBoardFieldName"
        name="boardName">
      <br>
      Board description:
      <input
        type="text"
        id="newBoardFieldDescription"
        name="boardDescription">
      <br>
      <img
        id="captchaImage"
        src="/captcha.js">
      <input
        type="button"
        style="display: none;"
        id="reloadCaptchaButton"
        onclick="reloadCaptcha()"
        value="Reload captcha">
      <br>
      Captcha:
      <input
        name="captcha"
        type="text"
        id="fieldCaptcha">
      <a
        class="finePrint"
        href="/noCookieCaptcha.js">No cookies?</a>
      <br>
      <input
        type="button"
        id="newBoardJsButton"
        onClick="createBoard()"
        style="display: none"
        value="Create board">
      <input
        id="newBoardFormButton"
        type="submit"
        value="Create board">
    </form>
  </div>
  <h3>Owned boards:</h3>
  <div id="boardsDiv"></div>
</body>

<script src="http://static.localhost:8080/settings.js"></script>
<script src="http://static.localhost:8080/api.js"></script>
<script src="http://static.localhost:8080/account.js"></script>

</html>