<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
  rel="stylesheet"
  type="text/css"
  href="//static.localhost:8080/css/global.css">
</head>
<body>
  <img
    class="logo"
    src="//static.localhost:8080/logo.png"
    title="Logo by Doke"> You are banned from
  <span id="boardLabel"></span> until
  <span id="expirationLabel"></span>.
  <br>
  Reason:
  <span id="reasonLabel"></span>
  <br>
  Your ban id:
  <span id="idLabel"></span>

  <form
    id="formAppeal"
    method="post"
    action="/appealBan.js"
    enctype="multipart/form-data">
    <h3>Appeal ban</h3>
    <input
      type="hidden"
      name="banId"
      id="idIdentifier">
    <textarea
      rows="8"
      cols="50"
      name="appeal"
      id="fieldAppeal"></textarea>
    <br>
    <input
      id="buttonFormAppeal"
      type="submit"
      value="Appeal">

  </form>

</body>
</html>