<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/global.css">
</head>
<body>
  <img
    class="logo"
    src="/.static/logo.png"
    title="Logo by Doke">
  <br>
  <a id="linkOverboard">Overboard</a>
  <br>
  <a id="linkSfwOver">SFW Overboard</a>
  <br>
  <h3>Search</h3>
  <form
    action="/boards.js"
    method="get">
    Board uri:
    <input
      type="text"
      name="boardUri">
    <br>
    Tags:
    <input
      type="text"
      name="tags">
    <br>
    Sorting:
    <select name="sorting">
      <option value=''>Most popular</option>
      <option value='1'>Least popular</option>
      <option value='2'>Most posts first</option>
      <option value='3'>Least posts first</option>
      <option value='4'>Highest PPH first</option>
      <option value='5'>Lowest PPH first</option>
      <option value='6'>Alphabetic order</option>
      <option value='7'>Reverse alphabetic order</option>
    </select>
    <br>
    <input
      type="checkbox"
      name="sfw">
    SFW boards only
    <br>
    <input
      type="checkbox"
      name="inactive">
    Abandoned boards only
    <br>
    <input
      type="submit"
      value="Search">
  </form>

  <div id="divBoards"></div>
  <div id="divPages"></div>
</body>
</html>