<!DOCTYPE html>
<html>
<head>
<link
  rel="alternate"
  type="application/rss+xml"
  href="index.rss"
  title="RSS">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/posting.css">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/global.css">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/markdown.css">
<meta charset="UTF-8">

</head>
<body>
  <div class="linkWrapper linksPanel">
    <a href="/">Home</a>
    <a href="catalog.html">Catalog</a>
    <a href="/account.js">Account</a>
    <a id="linkManagement">Manage Board</a>
    <a id="linkModeration">Board Global Moderation</a>
    <a href="index.rss">RSS</a>
  </div>

  <img id="bannerImage">
  <figure class="page-head">
    <h1 id="labelName"></h1>
    <h3 id="labelDescription"></h3>
  </figure>

  <br>

  <div id="panelMessage">
    <hr>
    <div id="divMessage"></div>
    <hr>
  </div>

  <section class="formWrapper">
    <form
      class="form-post"
      action="../newThread.js"
      enctype="multipart/form-data"
      method="post">
      <span class="formLabel">New Thread:</span>
      <br>
      <input
        type="text"
        placeholder="Subject"
        id="fieldSubject"
        name="subject" />
      <div id="divName">
        <input
          placeholder="Author"
          type="text"
          id="fieldName"
          name="name" />
        <br>
      </div>
      <input
        placeholder="E-mail"
        name="email"
        type="text"
        id="fieldEmail">
      <br>
      <textarea
        rows="8"
        cols="50"
        placeholder="Message"
        name="message"
        id="fieldMessage"></textarea>
      <div id="flagsDiv">
        <select
          name="flag"
          id="flagCombobox"></select>
      </div>
      <br>
      <input
        name="password"
        placeholder="Deletion password"
        type="password"
        id="fieldPostingPassword">
      <br>
      <span class="formLabel">Files:</span>
      <br>
      <div
        style="display: none;"
        id="dragAndDropDiv">
        <div id="dropzone">Drag files to upload or click here to select
          them</div>
        <div id="selectedDiv"></div>
      </div>
      <input
        type="file"
        id="files"
        name="files"
        multiple>
      <input
        type="checkbox"
        id="checkboxSpoiler"
        name="spoiler">
      Spoiler
      <br>
      <div id="captchaDiv">
        <img
          id="captchaImage"
          src="/captcha.js">
        <br>
        <input
          type="button"
          style="display: none;"
          id="reloadCaptchaButton"
          onclick="reloadCaptcha()"
          value="Reload captcha">
        <br>

        <input
          name="captcha"
          placeholder="Captcha answer"
          type="text"
          id="fieldCaptcha">
        <br>
        <a
          class="finePrint"
          href="/noCookieCaptcha.js">No cookie captcha</a>
        <br>
      </div>

      <div id="submitWrapper">
        <button
          type="button"
          id="jsButton"
          onClick="postThread()"
          style="display: none;">Create thread</button>
        <button
          type="submit"
          id="formButton">Create thread</button>
      </div>

      <input
        id="boardIdentifier"
        type="hidden"
        name="boardUri">
      Remember to follow the
      <a href=rules.html>rules</a>
      .
      <br>
      <span class="finePrint"> Max File Size: <span id="labelMaxFileSize"></span>
        <br>File Limit Per Post: <span id="labelMaxFiles"></span>
      </span>
    </form>
  </section>

  <br>
  <form
    method="post"
    action="../contentActions.js"
    enctype="multipart/form-data">
    <div id="divThreads"></div>
    Reason:
    <input
      type="text"
      id="reportFieldReason"
      name="reason">
    <br>
    Password:
    <input
      type="password"
      id="deletionFieldPassword"
      name="password">
    <br>
    <input
      type="checkbox"
      id="checkboxGlobal"
      name="global">
    Global
    <br>
    <input
      type="checkbox"
      id="checkboxOnlyFiles"
      name="deleteUploads">
    Delete only files
    <br>
    <input
      type="checkbox"
      id="checkboxMediaDeletion"
      name="deleteMedia">
    Delete media (Actually removes the saved files from the server, standard
    file deletion only removes the reference to the selected posts)
    <br>
    <img
      id="captchaImageReport"
      src="/captcha.js">
    <input
      type="button"
      style="display: none;"
      id="reloadCaptchaButtonReport"
      onclick="reloadCaptcha()"
      value="Reload captcha">
    <br>
    Captcha(Used only for reporting):
    <input
      name="captcha"
      type="text"
      id="fieldCaptchaReport">
    <a
      class="finePrint"
      href="/noCookieCaptcha.js">No cookies?</a>
    <br>
    <input
      type="submit"
      id="deleteFormButton"
      value="Delete"
      name="action">

    <input
      type="button"
      style="display: none;"
      id="deleteJsButton"
      onClick="deletePosts()"
      value="Delete">

    <input
      type="submit"
      id="reportFormButton"
      value="Report"
      name="action">

    <input
      type="button"
      style="display: none;"
      id="reportJsButton"
      onClick="reportPosts()"
      value="Report">

  </form>

  <br>
  <div class="navWrapper">
    <a id="linkPrevious">&lt;</a>
  </div>
  [
  <span id="divPages"></span> ]
  <div class="navWrapper">
    <a id="linkNext">&gt;</a>
  </div>
  <br>

</body>

<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/crypt.js"></script>
<script src="/.static/js/upload.js"></script>
<script src="/.static/js/board.js"></script>
<script src="/.static/js/posting.js"></script>

</html>
