<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
  rel="stylesheet"
  type="text/css"
  href="//static.localhost:8080/css/global.css">
</head>
<body>
  <img
    class="logo"
    src="//static.localhost:8080/logo.png"
    title="Logo by Doke">
  <br>
  <a id="linkOverboard">Overboard</a>
  <br>
  <h3>Search</h3>
  <form
    action="/boards.js"
    method="get">
    Board uri:
    <input
      type="text"
      name="boardUri">
    <br>
    Tags:
    <input
      type="text"
      name="tags">
    <br>
    <input
      type="submit"
      value="Search">
  </form>

  <div id="divBoards"></div>
  <div id="divPages"></div>
</body>
</html>