<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/catalog.css">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/global.css">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/markdown.css">
</head>
<body>
  <img
    class="logo"
    src="/.static/logo.png"
    title="Logo by Doke">

  <div class="linkWrapper linksPanel">
    <a href="/">Home</a>
    <a href="/account.js">Account</a>
  </div>

  Catalog of
  <span id="labelBoard"></span>
  <div id="divThreads"></div>
</body>
</html>