<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
  rel="stylesheet"
  type="text/css"
  href="//static.localhost:8080/css/global.css">
</head>
<body>
  <img
    class="logo"
    src="//static.localhost:8080/logo.png"
    title="Logo by Doke">
  <a href="/account.js">Account</a>
  <h3>New filter</h3>
  <form
    action="/createFilter.js"
    method="post"
    enctype="multipart/form-data">
    <input
      type="hidden"
      name="boardUri"
      id="boardIdentifier">
    Original term:
    <input
      type="text"
      name="originalTerm"
      id="fieldOriginalTerm">
    <br>
    Replacement term:
    <input
      type="text"
      name="replacementTerm"
      id="fieldReplacementTerm">
    <br>
    <input
      type="checkbox"
      name="caseInsensitive"
      id="checkboxCaseInsensitive">
    Case-insensitive
    <br>
    <input
      type="submit"
      value="Add filter"
      id="addFormButton">

    <input
      type="button"
      onClick="addFilter()"
      style="display: none;"
      value="Add filter"
      id="addJsButton">

  </form>
  <h3>Existing filters</h3>

  <div id="divFilters"></div>
</body>

<script src="//static.localhost:8080/js/settings.js"></script>
<script src="//static.localhost:8080/js/api.js"></script>
<script src="//static.localhost:8080/js/filterManagement.js"></script>
</html>