<!DOCTYPE html>
<html>
<head>
<link
  rel="stylesheet"
  type="text/css"
  href="//static.localhost:8080/css/posting.css">
<link
  rel="stylesheet"
  type="text/css"
  href="//static.localhost:8080/css/global.css">
<link
  rel="stylesheet"
  type="text/css"
  href="//static.localhost:8080/css/markdown.css">
<meta charset="UTF-8">

</head>
<body>
  <img id="bannerImage">
  <br>
  <br>
  <a href="/account.js">Account</a>
  <br>
  <br>

  <div id="divThreads"></div>

</body>

<script src="//static.localhost:8080/js/settings.js"></script>
<script src="//static.localhost:8080/js/api.js"></script>
<script src="//static.localhost:8080/js/overboard.js"></script>
<script src="//static.localhost:8080/js/posting.js"></script>

</html>
