<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
  rel="stylesheet"
  type="text/css"
  href="//static.localhost:8080/css/global.css">
</head>
<body>
  <img
    class="logo"
    src="//static.localhost:8080/logo.png"
    title="Logo by Doke">
  <form
    action="/placeRangeBan.js"
    method="post"
    enctype="multipart/form-data">
    Range to be banned:
    <input
      type="text"
      name="range"
      id="rangeField">
    <input
      id="boardIdentifier"
      type="hidden"
      name="boardUri">
    <br>
    <img
      id="captchaImage"
      src="/captcha.js">
    <input
      type="button"
      style="display: none;"
      id="reloadCaptchaButton"
      onclick="reloadCaptcha()"
      value="Reload captcha">
    <br>
    Captcha:
    <input
      name="captcha"
      type="text"
      id="fieldCaptcha">
    <a
      class="finePrint"
      href="/noCookieCaptcha.js">No cookies?</a>
    <br>
    <input
      type="submit"
      id="createFormButton"
      value="Place range ban">
    <input
      type="button"
      id="createJsButton"
      onClick="placeRangeBan()"
      style="display: none;"
      value="Place range ban">
  </form>
  <div id="rangeBansDiv"></div>
</body>

<script src="//static.localhost:8080/js/settings.js"></script>
<script src="//static.localhost:8080/js/api.js"></script>
<script src="//static.localhost:8080/js/rangeBans.js"></script>

</html>