<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
  rel="stylesheet"
  type="text/css"
  href="//static.localhost:8080/css/global.css">
<link
  rel="stylesheet"
  type="text/css"
  href="//static.localhost:8080/css/rules.css">
</head>
<body>
  <img
    class="logo"
    src="//static.localhost:8080/logo.png"
    title="Logo by Doke"> Rules of /
  <span id="boardLabel"></span>/
  <div id="divRules"></div>
  Remember that no matter the rules of the board, all
  <a href="//static.localhost:8080/globalRules.html">global rules</a>
  apply.
</body>

</html>