<!DOCTYPE html>
<html>
<head>
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/global.css">

<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/posting.css">

<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/markdown.css">
<meta charset="UTF-8">

</head>
<body>
  <div class="linkWrapper linksPanel">
    <a href="/">Home</a>
    <a href="../catalog.html">Catalog</a>
    <a href="/account.js">Account</a>
    <a id="linkManagement">Manage Board</a>
    <a id="linkMod">Moderate thread</a>
  </div>

  <img id="bannerImage">
  <figure class="page-head">
    <h1 id="labelName"></h1>
    <h3 id="labelDescription"></h3>
  </figure>

  <br>
  <div id="panelMessage">
    <hr>
    <div id="divMessage"></div>
    <hr>
  </div>

  <section class="formWrapper">
    <form
      class="form-post"
      method="post"
      action="../../replyThread.js"
      enctype="multipart/form-data">
      <span class="formLabel">Reply:</span>
      <br>
      <input
        type="text"
        placeholder="Subject"
        id="fieldSubject"
        name="subject" />
      <div id="divName">
        <input
          placeholder="Author"
          type="text"
          id="fieldName"
          name="name" />
        <br>
      </div>
      <input
        placeholder="E-mail"
        name="email"
        type="text"
        id="fieldEmail">
      <br>
      <textarea
        rows="8"
        cols="50"
        placeholder="Message"
        name="message"
        id="fieldMessage"></textarea>
      <div id="flagsDiv">
        <select
          name="flag"
          id="flagCombobox"></select>
      </div>
      <br>
      <input
        name="password"
        placeholder="Deletion password"
        type="password"
        id="fieldPostingPassword">
      <br>
      Files:
      <input
        type="file"
        id="files"
        name="files"
        multiple>
      <input
        type="checkbox"
        id="checkboxSpoiler"
        name="spoiler">
      Spoiler
      <br>
      <div id="captchaDiv">
        <img
          id="captchaImage"
          src="/captcha.js">
        <br>
        <input
          type="button"
          style="display: none;"
          id="reloadCaptchaButton"
          onclick="reloadCaptcha()"
          value="Reload captcha">
        <br>
        <input
          name="captcha"
          placeholder="Captcha answer"
          type="text"
          id="fieldCaptcha">
        <br>
        <a
          class="finePrint"
          href="/noCookieCaptcha.js">No cookie captcha</a>
        <br>
      </div>

      <div id="submitWrapper">
        <button
          type="button"
          id="jsButton"
          onClick="postReply()"
          style="display: none;">Reply</button>
        <button
          type="submit"
          id="formButton">Reply</button>
      </div>

      <input
        id="boardIdentifier"
        type="hidden"
        name="boardUri">
      <input
        id="threadIdentifier"
        type="hidden"
        name="threadId">
      Remember to follow the
      <a href=../rules.html>rules</a>
      .
      <br>
      <span class="finePrint"> Max File Size: <span id="labelMaxFileSize"></span>
      </span>
    </form>
  </section>

  <div id="divControls">
    <form
      action="/changeThreadSettings.js"
      method="post"
      enctype="multipart/form-data">
      <input
        name="lock"
        id="checkboxLock"
        type="checkbox">
      Lock
      <br>
      <input
        name="pin"
        id="checkboxPin"
        type="checkbox">
      Pin
      <br>
      <input
        type="checkbox"
        name="cyclic"
        id="checkboxCyclic">
      Cyclic
      <input
        type="hidden"
        name="boardUri"
        id="controlBoardIdentifier">
      <input
        type="hidden"
        name="threadId"
        id="controlThreadIdentifier">
      <br>
      <input
        type="submit"
        id="settingsFormButon"
        value="Save">

      <input
        type="button"
        id="settingsJsButon"
        onClick="saveThreadSettings()"
        style="display: none;"
        value="Save">
    </form>
  </div>

  <br>

  <form
    method="post"
    action="../../contentActions.js"
    enctype="multipart/form-data">
    <div id="divThreads"></div>
    <div
      class="divRefresh"
      style="display: none;">
      <input
        type="checkbox"
        checked
        onchange="changeRefresh()">
      Auto <span id="labelRefresh"></span>
      <br>
      <input
        type="button"
        id="refreshButton"
        onclick="refreshPosts(true)"
        value="Refresh">
      <br>
      <a
        href=".."
        style="clear: both;">Return</a>
    </div>
    <div class="contentAction">
      Reason:
      <input
        type="text"
        id="reportFieldReason"
        name="reason">
      <br>
      <div id="divMod">
        Expiration:
        <input
          type="text"
          id="fieldExpiration"
          name="expiration">
        <br>

        Ban message:
        <input
          type="text"
          id="fieldbanMessage"
          name="banMessage">

        <br>
        <input
          type="checkbox"
          id="checkboxRange"
          name="range">
        Range ban
        <br>
        <input
          type="submit"
          id="inputBan"
          value="Ban"
          name="action">

        <input
          type="button"
          style="display: none;"
          id="banJsButton"
          onClick="banPosts()"
          value="Ban">

        <button
          type="submit"
          id="inputSpoil"
          value="spoil"
          name="action">Spoil files</button>

        <input
          type="button"
          style="display: none;"
          id="spoilJsButton"
          onClick="spoilFiles()"
          value="Spoil files">

      </div>
      Password:
      <input
        type="password"
        id="deletionFieldPassword"
        name="password">
      <br>
      <input
        type="checkbox"
        id="checkboxGlobal"
        name="global">
      Global
      <br>
      <input
        type="checkbox"
        id="checkboxOnlyFiles"
        name="deleteUploads">
      Delete only files
      <br>
      <input
        type="checkbox"
        id="checkboxMediaDeletion"
        name="deleteMedia">
      Delete media (Actually removes the saved files from the server, standard
      file deletion only removes the reference to the selected posts)
      <br>
      <img
        id="captchaImageReport"
        src="/captcha.js">
      <input
        type="button"
        style="display: none;"
        id="reloadCaptchaButtonReport"
        onclick="reloadCaptcha()"
        value="Reload captcha">
      <br>
      Captcha(Used for reporting and bans):
      <input
        name="captcha"
        type="text"
        id="fieldCaptchaReport">
      <a
        class="finePrint"
        href="/noCookieCaptcha.js">No cookies?</a>
      <br>
      <input
        type="submit"
        id="deleteFormButton"
        value="Delete"
        name="action">

      <input
        type="button"
        style="display: none;"
        id="deleteJsButton"
        onClick="deletePosts()"
        value="Delete">

      <input
        type="submit"
        id="reportFormButton"
        value="Report"
        name="action">

      <input
        type="button"
        style="display: none;"
        id="reportJsButton"
        onClick="reportPosts()"
        value="Report">
    </div>
  </form>
  <br>

  <form
    action="/transferThread.js"
    enctype="multipart/form-data"
    method="post"
    id="formTransfer"
    class="formTransfer">
    <h3>Transfer to different board</h3>
    <input
      type="hidden"
      name="boardUri"
      id="transferBoardIdentifier">
    <input
      type="hidden"
      name="threadId"
      id="transferThreadIdentifier">

    Destination board:
    <input
      type="text"
      id="fieldDestinationBoard"
      name="boardUriDestination">
    <br>
    <input
      type="submit"
      id="transferFormButton"
      value="Transfer thread">
    <input
      type="button"
      style="display: none;"
      onclick="transfer()"
      id="transferJsButton"
      value="Transfer thread">
  </form>
  <br>
  <form
    id="ipDeletionForm"
    method="post"
    action="/deleteFromIp.js"
    enctype="multipart/form-data">
    <h3>Delete all from ip</h3>

    Non-hashed ip:
    <input
      type="text"
      name="ip"
      id="ipField">
    <br>
    Delete only from these boards(Ex: "b v", leaving in blank will delete from
    all boards):
    <input
      type="text"
      name="boards"
      id="fieldBoards">
    <br>
    <input
      type="button"
      value="Delete"
      onclick="deleteFromIp()"
      id="deleteFromIpJsButton"
      style="display: none;">
    <input
      value="Delete"
      type="submit"
      id="deleteFromIpFormButton">

  </form>

</body>

<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/thread.js"></script>
<script src="/.static/js/posting.js"></script>

</html>
