Id:
<span class="idLabel"></span>
<br>
Reason:
<span class="reasonLabel"></span>
<br>
Expiration:
<span class="expirationLabel"></span>
<br>
Applied by:
<span class="appliedByLabel"></span>
<br>
<span class="appealPanel">Appeal: <span class="appealLabel"></span>
</span>
<br>

<form
  class="denyForm"
  enctype="multipart/form-data"
  method="post"
  action="/denyAppeal.js">

  <input
    type="hidden"
    name="banId"
    class="denyIdentifier">

  <input
    type="submit"
    class="denyFormButton"
    value="Deny appeal">
  <input
    type="button"
    style="display: none;"
    class="denyJsButton"
    value="Deny appeal">
</form>

<form
  action="/liftBan.js"
  method="post"
  enctype="multipart/form-data">
  <input
    type="submit"
    class="liftFormButton"
    value="Lift">

  <input
    type="button"
    class="liftJsButton"
    value="Lift"
    style="display: none;">
  <input
    type="hidden"
    class="liftIdentifier"
    name="banId">
</form>

<hr>

