@font-face {
  font-family: fuck-google;
  src: url('http://static.localhost:8080/fuckGoogle.ttf');
}

body {
  font-family: fuck-google, arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  margin-bottom: 100px;
  background: #EEF2FF;
}

hr {
  border-width: 1px medium medium;
  border-style: solid none none;
  border-color: #B7C5D9 -moz-use-text-color -moz-use-text-color;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  height: 0px;
  clear: left;
}

.finePrint {
  font-size: 8pt;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}