.hideLink {
  color: #000000;
  background: #ffffff;
  font-size: 12pt;
  vertical-align: top;
}

#bannerImage {
  display: block;
  border: 1px solid darkgray;
  margin: 12px auto 0 auto;
}

figure.page-head {
  display: block;
  text-align: center;
  margin: 1em auto 1em auto;
}

#labelName {
  font-weight: bold;
  font-size: 20pt;
  color: #AF0A0F;
  margin: 0.2em 0 0 0;
  letter-spacing: -2px;
}

#labelDescription {
  margin: 0;
  font-size: 1.5em;
  color: #AF0A0F;
  font-weight: normal;
}

#divMessage {
  text-align: center;
}

.formWrapper {
  text-align: center;
}

.form-post {
  padding: 10px;
  padding-right: 15px;
  background: #D6DAF0;
  text-align: center;
  display: inline-block;
  background: #D6DAF0;
}

.formLabel {
  font-weight: bold;
  float: left;
  margin-bottom: 2px;
}

#fieldSubject, #fieldName, #fieldEmail, #fieldPostingPassword, #fieldMessage {
  margin-bottom: 2px;
  width: 100%;
}

.uploadCell {
  float: left;
  margin: 2px;
}

.imgExpanded {
  width: 100%;
}

.divMessage, .formTransfer {
  clear: both;
}

.quoteLink {
  color: #ff0000;
}

.linkSelf {
  color: #000000;
  text-decoration: none;
}

.linkSelf:hover {
  color: #ff0000;
}

.linkQuote {
  color: #000000;
  text-decoration: none;
}

.linkQuote:hover {
  color: #ff0000;
}

.postCell, .markedPost {
  background-color: #D6DAF0;
  margin-bottom: 5px;
  border-style: solid;
  border-width: 1px;
}

.markedPost {
  background-color: #D6BAD0;
}

.linkName {
  font-weight: bold;
  color: #0F0C5D;
  font-size: 10pt;
}

.linkName:hover {
  color: #ff0000;
}

.noEmailName, .noEmailName:hover {
  color: #117743;
}

.labelSubject {
  color: #0F0C5D;
  font-weight: bold;
  font-size: 10pt;
}

.labelRole {
  color: #ff0000;
  font-weight: bold;
  font-size: 10pt;
}

.divMessage {
  padding-left: 10px;
  word-wrap: break-word;
}

.contentAction {
  float: left;
}

.divRefresh {
  float: right;
}

.divBanMessage {
  color: #ff0000;
  font-weight: bold;
  font-size: 11pt;
}