.uploadCell {
	float: left;
	margin: 2px;
}

.divMessage {
	clear: both;
}

.quoteLink {
	color: #ff0000;
}

.postCell {
	background-color: #D6DAF0;
	margin-bottom: 5px;
	border-style: solid;
	border-width: 1px;
}

.linkName {
	font-weight: bold;
	color: #0F0C5D;
	font-size: 10pt;
}

.linkName:hover {
	color: #ff0000;
}

.noEmailName, .noEmailName:hover {
	color: #117743;
}

.labelSubject {
	color: #0F0C5D;
	font-weight: bold;
	font-size: 10pt;
	font-weight: bold;
	font-size: 10pt;
}

.labelRole {
	color: #ff0000;
	font-weight: bold;
	font-size: 10pt;
}

.divMessage {
	padding-left: 10px;
}

.contentAction {
	float: left;
}

.divRefresh {
	float: right;
}