<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
  rel="stylesheet"
  type="text/css"
  href="http://static.localhost:8080/global.css">
</head>
<body>
  <h2 id="boardLabel"></h2>

  <a href="/account.js">Account</a>
  <br>

  <div id="ownerControlDiv">

    <h3>Add volunteer</h3>
    <form
      action="/setVolunteer.js"
      method="post"
      enctype="multipart/form-data">

      User login:
      <input
        type="text"
        name="login"
        id="addVolunteerFieldLogin">

      <input
        type="hidden"
        name="add"
        value=true>
      <input
        type="hidden"
        name="boardUri"
        id="addVolunteerBoardIdentifier">
      <input
        type="button"
        onClick="addVolunteer()"
        id="addVolunteerJsButton"
        value="Add volunteer"
        style="display: none;">
      <input
        type="submit"
        id="addVolunteerFormButton"
        value="Add volunteer">

    </form>
    <h3>Ownership transfer</h3>
    <form
      action="/transferBoardOwnership.js"
      method="post"
      enctype="multipart/form-data">

      User login:
      <input
        type="text"
        name="login"
        id="transferBoardFieldLogin">

      <input
        type="hidden"
        name="boardUri"
        id="transferBoardIdentifier">
      <input
        type="button"
        onClick="transferBoard()"
        id="transferBoardJsButton"
        value="Transfer board"
        style="display: none;">
      <input
        type="submit"
        id="transferBoardFormButton"
        value="Transfer board">

    </form>

    <form
      method="post"
      action="/deleteBoard.js"
      enctype="multipart/form-data">
      <input
        id="deletionIdentifier"
        name="boardUri"
        type="hidden">
      <input
        type="submit"
        value="Delete board"
        id="deleteBoardFormButton">
      <input
        type="button"
        style="display: none;"
        id="deleteBoardJsButton"
        onClick="deleteBoard()"
        value="Delete board">
    </form>

    <h3>Custom CSS</h3>
    Upload without any files to delete the custom CSS.
    <form
      action="/setCustomCss.js"
      method="post"
      enctype="multipart/form-data">
      <input
        type="hidden"
        name="boardUri"
        id="customCssIdentifier">
      <input
        type="file"
        id="files"
        name="files">
      <input
        id="cssFormButton"
        type="submit"
        value="Upload CSS">
      <input
        type="button"
        onclick="setCss()"
        id="cssJsButton"
        style="display: none"
        value="Upload CSS">
    </form>

    <h3>Volunteers</h3>
    <div id="volunteersDiv"></div>

    <h3>Settings</h3>
    <form
      action="/setBoardSettings.js"
      method="post"
      enctype="multipart/form-data">
      <input
        type="hidden"
        id="boardSettingsIdentifier"
        name="boardUri">
      Board name:
      <input
        id="boardNameField"
        type="text"
        name="boardName">
      <br>
      Board description:
      <input
        id="boardDescriptionField"
        type="text"
        name="boardDescription">
      <br>
      Anonymous name:
      <input
        id="anonymousNameField"
        type="text"
        name="anonymousName">
      <br>
      <input
        type="checkbox"
        name="disableIds"
        id="disableIdsCheckbox">
      Disable thread-wise ids
      <br>
      <input
        type="checkbox"
        name="disableCaptcha"
        id="disableCaptchaCheckbox">
      Disable captcha
      <br>
      <input
        type="checkbox"
        name="forceAnonymity"
        id="forceAnonymityCheckbox">
      Force anonymity
      <br>

      <input
        type="button"
        value="Save"
        onClick="saveSettings()"
        style="display: none;"
        id="saveSettingsJsButton">
      <input
        type="submit"
        value="Save"
        id="saveSettingsFormButton">
    </form>

    <a id="bannerManagementLink">Manage banners</a>
    <br>
    <a id="filterManagementLink">Manage filters</a>
    <br>
    <a id="ruleManagementLink">Manage rules</a>
    <br>

  </div>

  <a id="rangeBansLink">Range bans</a>
  <br>
  <a id="hashBansLink">Hash bans</a>
  <br>
  <a id="closedReportsLink">Closed reports</a>
  <br>
  <a id="bansLink">Bans</a>
  <h3>Open reports</h3>
  <div id="reportDiv"></div>

</body>

<script src="http://static.localhost:8080/settings.js"></script>
<script src="http://static.localhost:8080/api.js"></script>
<script src="http://static.localhost:8080/reports.js"></script>
<script src="http://static.localhost:8080/boardManagement.js"></script>

</html>