<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
  rel="stylesheet"
  type="text/css"
  href="http://static.localhost:8080/global.css">
</head>
<body>
  <img
    class="logo"
    src="http://static.localhost:8080/logo.png"
    title="Logo by Doke">
  <a href="/account.js">Account</a>
  <br>
  <h5 id="userLabel"></h5>
  <h3>Add user to global staff</h3>
  <form
    id="addStaffForm"
    method="post"
    enctype="multipart/form-data"
    action="/setGlobalRole.js">
    <span>User login: </span>
    <input
      type="text"
      id="fieldLogin"
      name="login">
    <br>
    Role: <select
      id="newStaffCombo"
      name="role"></select>
    <br>
    <input
      type="button"
      onClick="addUser()"
      id="addJsButton"
      value="Add user"
      style="display: none;">
    <input
      type="submit"
      id="addFormButton"
      value="Add user">
  </form>
  <br>
  <h3>Global staff</h3>
  <div id="divStaff"></div>
  <a
    id="globalSettingsLink"
    href="/globalSettings.js">Global Settings<br></a>
  <a
    id="bansLink"
    href="/bans.js">Bans<br></a>
  <a
    id="archiveDeletionLink"
    href="/archiveDeletion.js">Archive deletion<br></a>
  <a
    id="rangeBansLink"
    href="/rangeBans.js">Range Bans<br></a>
  <a
    id="hashBansLink"
    href="/hashBans.js">Hash Bans<br></a>
  <a href="/closedReports.js">Closed Reports</a>
  <div id="reportDiv"></div>

</body>
<script src="http://static.localhost:8080/settings.js"></script>
<script src="http://static.localhost:8080/api.js"></script>
<script src="http://static.localhost:8080/reports.js"></script>
<script src="http://static.localhost:8080/globalManagement.js"></script>
</html>