<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
  rel="stylesheet"
  type="text/css"
  href="http://static.localhost:8080/global.css">
</head>
<body>
  <img
    class="logo"
    src="http://static.localhost:8080/logo.png"
    title="Logo by Doke"> Login:
  <form
    action="/login.js"
    enctype="multipart/form-data"
    method="post">
    Login:
    <input
      type="text"
      name="login"
      id="loginFieldLogin">
    <br>
    Password:
    <input
      type="password"
      id="loginFieldPassword"
      name="password">
    <br>
    <input
      type="submit"
      id="loginFormButton"
      value="Login">
    <input
      type="button"
      id="loginJsButton"
      onclick="loginUser()"
      value="Login"
      style="display: none;">
  </form>
  <br>
  <div id="divCreation">
    <br>
    Register:
    <form
      action="/registerAccount.js"
      enctype="multipart/form-data"
      method="post">
      Login*:
      <input
        type="text"
        name="login"
        id="registerFieldLogin">
      <br>
      Password*:
      <input
        type="password"
        id="registerFieldPassword"
        name="password">
      <br>
      E-mail:
      <input
        type="text"
        id="registerFieldEmail"
        name="email">
      <br>
      <img
        id="captchaImage"
        src="/captcha.js">
      <input
        type="button"
        style="display: none;"
        id="reloadCaptchaButton"
        onclick="reloadCaptcha()"
        value="Reload captcha">
      <br>
      Captcha:
      <input
        name="captcha"
        type="text"
        id="fieldCaptcha">
      <a
        class="finePrint"
        href="/noCookieCaptcha.js">No cookies?</a>
      <br>
      <input
        type="submit"
        id="registerFormButton"
        value="Register">
      <input
        type="button"
        id="registerJsButton"
        onclick="registerAccount()"
        value="Register"
        style="display: none;">
    </form>
    <br>
  </div>
  <br>
  Recover account:
  <form
    action="/requestAccountRecovery.js"
    enctype="multipart/form-data"
    method="post">
    Login:
    <input
      type="text"
      name="login"
      id="recoverFieldLogin">
    <br>
    <img
      id="captchaImageRecover"
      src="/captcha.js">
    <input
      type="button"
      style="display: none;"
      id="reloadCaptchaButtonRecover"
      onclick="reloadCaptcha()"
      value="Reload captcha">
    <br>
    Captcha:
    <input
      name="captcha"
      type="text"
      id="fieldCaptchaRecover">
    <a
      class="finePrint"
      href="/noCookieCaptcha.js">No cookies?</a>
    <br>
    <input
      type="submit"
      id="recoverFormButton"
      value="Request recovery">
    <input
      type="button"
      id="recoverJsButton"
      onclick="recoverAccount()"
      value="Request recovery"
      style="display: none;">
  </form>

</body>

<script src="http://static.localhost:8080/settings.js"></script>
<script src="http://static.localhost:8080/api.js"></script>
<script src="http://static.localhost:8080/login.js"></script>

</html>