<input
  type="checkbox"
  class="deletionCheckBox">
<span class="labelSubject"></span>
<a class="linkName"></a>
<span class="labelRole"></span>
<span class="labelCreated"></span>
<span class="spanId"> Id: <span class="labelId"></span></span>
<a class="linkPreview">[Preview]</a>
<a class="linkSelf">No.</a>
<a class="linkQuote"></a>
<span class="panelRange">Ip range: <span class="labelRange"></span></span>
<div class="panelUploads"></div>
<div class="divMessage" /></div>
<div class="divBanMessage"></div>
<br>
